# .NET
**/bin/
**/obj/
*.user
*.suo
*.sln.docstates

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# User Uploads & Databases
panApi/uploads/
panApi/pan.db

# Node.js
**/node_modules/
**/dist/
**/dist-ssr/
*.local

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db
